* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    text-align: center;
    font-family: "Noto Sans Mayan Numerals", sans-serif;
}

header {
    background-color: #780000;
    color: white;
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Tilt Neon', sans-serif;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

footer {
    background-color: #000814;
    color: white;
}

#container {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.free {
    background-color: #283618;
    color: white;
    display: grid;
    padding: 1rem;
    margin: 2rem;
}

.free span {
    padding-top: 1rem;
}

.free a {
    color: white;
    text-decoration: none;
}

.money {
    background-color: #000814;
    color: white;
    display: grid;
    padding: 1rem;
    margin: 2rem;
}

.money span {
    padding-top: 1rem;
}

.money a {
    color: white;
    text-decoration: none;
}

nav {
    max-width: 800px;
    margin: 1rem auto;
}

#menu {
    background: none;
    color: white;
    font-size: 1.5rem;
    border: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "\2716";
}

.navigation {
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    background-color: #333333;
    color: white;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

@media screen and (min-width: 850px) {
    .free {
        background-color: rgba(40, 54, 24, 0.8);
        position: absolute;
        float: left;
        top: 3%;
        width: 30%;
    }

    .free h2 {
        background-color: rgb(120, 0, 0, 0.75);
    }

    .money {
        background-color: rgba(0, 8, 20, 0.95);
        position: absolute;
        float: right;
        right: 0;
        top: 40%;
        width: 30%;
    }

    .money h2 {
        background-color: rgb(51, 51, 51, 0.75);
    }

    h2 {
        width: 100%;
        position: relative;
        float: none;
        right: 25px;
        top: 5px;
        padding: 1rem;
    }

    #menu {
        display: none;
    }

    header {
        display: flex;
        padding: 1rem;
        justify-content: space-evenly;
    }

    .navigation {
        display: contents;
    }

    .navigation a {
        display: block;
    }

}