@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        padding: 1rem;
        justify-content: space-evenly;
    }

    .navigation {
        display: contents;
    }

    .navigation a {
        display: block;
    }
}